/* stying ids */
body {
    background-image: url("microphone1.jpg");
    

}

#banner {
    background-color: black;
    color:grey;
}

#bio-card {
    /* background-color: lightsalmon;
    opacity: 0.3; */
    background: rgba(97, 96, 107, 0.5);
}

#search-card {
    background: rgba(14, 17, 58, 0.7);
}

#music {
    background: rgba(39, 176, 240, 0.3);
}

