/* stying ids */
body {
    background-image: url("microphone1.jpg");

}

#banner {
    background-color: black;
    color:grey;
}

#bio-card {
    /* background-color: lightsalmon;
    opacity: 0.3; */
    background: rgba(218, 107, 63, 1.0);

}

#search-card {
    background: rgba(141, 120, 235, 0.5);
}

#music {
    background: rgba(22, 20, 24, 0.3); 
}

